[Unit]
Description=A special mitm with pac daemon
After=network.target

[Service]
Type=fork
# User=nobody
# Environment="DBUS_SESSION_BUS_ADDRESS=unix:abstract=/tmp/dbus-XXBRdFQxlY,guid=adc3d044b0c8e6fb961e747a55d7ef59"
ExecStart=/bin/sh -c "/home/$USER/bin/v2ray --config=/home/$USER/triline/v2ray/vpoint_socks_vmess.json"
ExecStop=
# ExecReload=
# Restart=on-failure|on-abnormal

[Install]
# WantedBy=multi-user.target
WantedBy=default.target

