[http]
	proxy = http://127.0.0.1:8117
	postBuffer = 10m
[socks]
	proxy = 127.0.0.1:1080
    
[core]
	#gitproxy=$HOME/myscripts/socks5proxyssh

[gui]
	encoding = utf-8
[core]
	quotepath = false
[user]
	email = egitop@uload.xyz
	name = egitop
[pack]
	threads = 2
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
